ion-input {
  margin-bottom: 20px; /* Ajusta el valor según tus necesidades */
}

.custom-margin {
  margin: 20px; /* Cambia a top, bottom, left o right si necesitas */
}

.large-textarea {
  height: 100px; /* Ajusta la altura según sea necesario */
  width: 100%; /* Asegúrate de que ocupe todo el ancho deseado */
}

/* Arreglo para el problema de doble scroll */
.no-scrollbar {
  --overflow: auto; /* Garantiza un único scroll */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Para Chrome, Safari y Edge */
}

/* Hacer que el header permanezca fijo */
ion-header {
  position: sticky;
  top: 0;
  z-index: 999; /* Asegura que esté por encima del contenido al hacer scroll */
}

/* Fusionar estos selectores en lugar de tenerlos anidados para compatibilidad */
ion-toolbar {
  --background: transparent;
  background: linear-gradient(135deg, white, purple);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

ion-toolbar ion-title {
  font-weight: 600;
  text-align: center;
  color: white;
  font-size: 1.2em;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.bttn {
  --background: purple;
  color: white;
  box-shadow: 0 4px 6px rgba(253, 230, 230, 0.275);
  margin-top: 20px; /* Añadido para mejorar el espaciado */
}

/* Añadido para mejorar el espaciado del formulario */
.form-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px; /* Espacio adicional al final del formulario */
}

/* Mejora para inputs y errores */
.input-error {
  margin-top: -15px;
  margin-bottom: 15px;
  font-size: 0.85em;
}