ion-input {
    margin-bottom: 20px; /* Ajusta el valor según tus necesidades */
  }
.custom-margin {
    margin: 20px; /* Cambia a top, bottom, left o right si necesitas */
  }

  .large-textarea {
    height: 100px; /* Ajusta la altura según sea necesario */
    width: 100%; /* Asegúrate de que ocupe todo el ancho deseado */
  }