<ion-header>
    <ion-toolbar>
      <ion-title>Crear Actividad</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-list class="custom-margin">
    <ion-list>
      <ion-input  label="Title" label-placement="floating" fill="outline" placeholder="Title"></ion-input>
      <ion-input label="Location" label-placement="floating" fill="outline" placeholder="Location"></ion-input>
      <ion-input label="Price" label-placement="floating" fill="outline" placeholder="Price"></ion-input>
      <ion-textarea class="large-textarea" label="Description" label-placement="floating" fill="outline" placeholder="Description"></ion-textarea>
    </ion-list>
    <ion-button expand="full" type="submit">Crear</ion-button> 
</ion-list>
