<ion-content [fullscreen]="true" scrollY="true">
  <div class="container">
    <div class="login-form">
      <div class="language-toggle-corner">
        <ion-button 
          (click)="changeLanguage()"
          fill="outline"
          size="small"
          class="corner-language-btn">
          <span class="flag-emoji">{{ translate.currentLang | languageIcon }}</span>
          <ion-icon name="language-outline"></ion-icon>
        </ion-button>
      </div>
      
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
        <ion-grid>
          <ion-row>
            <ion-col style="display:flex" class="ion-justify-content-center">
              <ion-text><h1>{{'LOGIN.TITLE' | translate}}</h1></ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
        
        <ion-input 
          label-placement="floating" 
          label="{{'LOGIN.EMAIL' | translate}}" 
          fill="outline" 
          type="email" 
          formControlName="email" 
          required>
        </ion-input>
        
        <ion-input 
          labelPlacement="floating" 
          label="{{'LOGIN.CONTRASEÑA' | translate}}" 
          fill="outline" 
          [type]="showPassword ? 'text' : 'password'" 
          formControlName="password" 
          required>
          <ion-button 
            slot="end" 
            fill="clear" 
            (click)="togglePasswordVisibility()"
            type="button">
            <ion-icon 
              [name]="showPassword | passwordEyeIcon" 
              slot="icon-only">
            </ion-icon>
          </ion-button>
        </ion-input>
      
        <ion-text class="input-error" color="danger" *ngIf="loginError">
          <p>{{loginError | translate}}</p>
        </ion-text>
        
        <ion-text class="input-error" color="danger" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
          <p *ngIf="email?.errors?.['required']">{{'LOGIN.ERRORS.EMAIL_REQUIRED' | translate}}</p>
          <p *ngIf="email?.errors?.['email']">{{'LOGIN.ERRORS.EMAIL_INVALID' | translate}}</p>
        </ion-text>
        
        <ion-text class="input-error" color="danger" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
          <p *ngIf="password?.errors?.['required']">{{'LOGIN.ERRORS.PASSWORD_REQUIRED' | translate}}</p>
        </ion-text>
        
        <ion-button 
          class="login-button" 
          style="text-transform:none" 
          expand="block" 
          type="submit" 
          [disabled]="loginForm.invalid">
          {{'LOGIN.BUTTON' | translate}}
        </ion-button>

        <ion-button 
          class="register-button" 
          style="text-transform:none" 
          expand="block" 
          (click)="onRegister()" 
          fill="clear">
          {{'LOGIN.REGISTER' | translate}}
        </ion-button>
      </form>
    </div>

    <div class="contenedor">
      <ion-img class="imagen-responsiva" src="assets/imgs/RTE.png"></ion-img>
    </div>
  </div>
</ion-content>