<ion-content [fullscreen]="true" scrollY="true">
  <div class="container">
    <div class="login-form">
      <div class="mobile-top-row">
        <ion-button (click)="changeLanguage()">
          {{'LOGIN.IDIOMA'| translate}}
        </ion-button>
        <ion-img class="imagen-mini" src="assets/imgs/RTE.png"></ion-img>
      </div>
      
      <ion-buttons slot="end" class="desktop-buttons">
        <ion-button (click)="changeLanguage()">
          {{'LOGIN.IDIOMA'| translate}}
        </ion-button>
      </ion-buttons>
      
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
        <ion-grid>
          <ion-row>
            <ion-col style="display:flex" class="ion-justify-content-center">
              <ion-text><h1>{{'LOGIN.TITLE' | translate}}</h1></ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
        
        <ion-input label-placement="floating" label="{{'LOGIN.EMAIL' | translate}}" fill="outline" type="email" formControlName="email" required></ion-input>
        <ion-input labelPlacement="floating" label="{{'LOGIN.CONTRASEÑA' | translate}}" fill="outline" type="password" formControlName="password" required></ion-input>
        
        <ion-text class="input-error" color="danger" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
          <p *ngIf="email?.errors?.['required']">{{'LOGIN.ERRORS.EMAIL_REQUIRED' | translate}}</p>
          <p *ngIf="email?.errors?.['email']">{{'LOGIN.ERRORS.EMAIL_INVALID' | translate}}</p>
        </ion-text>
        
        <ion-text class="input-error" color="danger" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
          <p *ngIf="password?.errors?.['required']">{{'LOGIN.ERRORS.PASSWORD_REQUIRED' | translate}}</p>
        </ion-text>
        
        <ion-button class="login-button" expand="block" type="submit" [disabled]="loginForm.invalid">
          {{'LOGIN.TITLE' | translate}}
        </ion-button>
        
        <ion-button class="register-button" expand="block" (click)="onRegister()" fill="clear">
          {{'LOGIN.REGISTRO' | translate}}
        </ion-button>
      </form>
    </div>
    
    <div class="contenedor">
      <ion-img class="imagen-responsiva" src="assets/imgs/RTE.png"></ion-img>
    </div>
  </div>
</ion-content>