<ion-app>
  <!-- Menú lateral -->
  <ion-menu #menu side="start" menuId="mainMenu" contentId="mainContent" >
   <ion-header>
     <ion-toolbar>
       <ion-title>{{'MENU.TITLE'| translate}}</ion-title>
       <ion-buttons slot="end">
        <ion-button class="bttn" (click)="changeLanguage()">
          {{'LOGIN.IDIOMA'| translate}}
        </ion-button>
      </ion-buttons>
     </ion-toolbar>
   </ion-header>
   <ion-content>
    <ion-list>
      <ion-item (click)="menu.close()"  routerLink="/adventurous" routerDirection="root">{{'MENU.AVENTUREROS'| translate}}</ion-item>
      <ion-item (click)="menu.close()"  routerLink="/activities" routerDirection="root">{{'MENU.ACTIVIDADES'| translate}}</ion-item>
      <ion-item (click)="menu.close()"  routerLink="/mi-activities" routerDirection="root">{{'MENU.MI_ACTIVIDADES'| translate}}</ion-item>
      <ion-item (click)="menu.close()"  routerLink="/about" routerDirection="root">{{'MENU.ABOUT'| translate}}</ion-item>
    </ion-list>
  </ion-content>
  <ion-footer>
      <ion-item >

          <h3>{{ (authSvc.user$ | async)?.username}}</h3>
          <ion-button class="bttn2" slot="end" (click)="logout()">{{'PROFILE.CLOSE'|translate}}</ion-button>

      </ion-item>
  </ion-footer>
 </ion-menu>
 <ion-router-outlet id="mainContent"></ion-router-outlet>
</ion-app>