.container {
    display: flex;
    justify-content: center; /* Alinea horizontalmente */
    align-items: center; /* Alinea verticalmente */
    height: 10vh; /* Ajusta si necesitas */
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
  }
  .bttn{
    color: white;
  }

  
  .bttn2{
    --background: purple;
    color: white;
    
    box-shadow: 0 4px 6px rgba(253, 230, 230, 0.275);
  }

  ion-title {
    font-weight: 600;
    text-align: center;
    color: white;
    font-size: 1.2em;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  }

body {
  background-color: violet;
  color: purple;
  font-family: Arial, sans-serif;
  }
ion-toolbar {
  --background: transparent;
    background: linear-gradient(135deg, white, purple);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }

  
ion-item {
  color: purple;
  border-color: purple;
  border-width: 2px;
  border-radius: 10px;
}
.user-info {
  .user-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-top: 16px;
    --padding-bottom: 8px;
    
    ion-avatar {
      --size: 50px;
      
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    
    ion-label {
      h2 {
        font-weight: 600;
        font-size: 1.1rem;
        margin-bottom: 4px;
      }
      
      p {
        font-size: 0.9rem;
        color: var(--ion-color-medium);
      }
    }
  }
  
  .divider-item {
    --min-height: 1px;
    --padding-start: 0;
    --padding-end: 0;
    --background: var(--ion-color-light);
    margin-bottom: 8px;
  }
}

// Iconos para los elementos del menú
ion-list {
  ion-item {
    ion-icon {
      margin-right: 16px;
      color: var(--ion-color-primary);
    }
  }
}