<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"class="porfile">
  <ion-card >
    <div class="info">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title><h3>{{ (authSvc.user$ | async)?.username}}</h3></ion-card-title>
      <ion-card-subtitle>{{ (authSvc.user$ | async)?.email}}</ion-card-subtitle>
    </ion-card-header>
    </div>
    <div class="btn">
      <ion-button class="bttn" (click)="logout()"  >cerrar sesion</ion-button>
    </div>
  
  </ion-card>

</ion-content>
