ion-input {
    margin-bottom: 20px; 
  }
  
  .custom-margin {
    margin: 20px; 
  }
  
  .large-textarea {
    height: 100px; 
    width: 100%; 
  }
  
  .no-scrollbar {
    --overflow: auto;
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  

  ion-header {
    position: sticky;
    top: 0;
    z-index: 999; 
  }
  

  ion-toolbar {
    --background: transparent;
    background: linear-gradient(135deg, white, purple);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
  
  ion-toolbar ion-title {
    font-weight: 600;
    text-align: center;
    color: white;
    font-size: 1.2em;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  }
  
  .bttn {
    --background: purple;
    color: white;
    box-shadow: 0 4px 6px rgba(253, 230, 230, 0.275);
    margin-top: 20px; 
  }
  
  .form-container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 30px;
  }
  
  .input-error {
    margin-top: -15px;
    margin-bottom: 15px;
    font-size: 0.85em;
  }