<ion-content class="activity-detail-page no-scrollbar">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title>
        {{activity?.title}}
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismiss()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="form-container">

    <ion-card class="main-info-card">

      <ion-card-header>
        <div class="cover-image-container">
          <img [src]="activity.media?.thumbnail || ''" />
        </div>
      </ion-card-header>
      <ion-card-content>
        <div class="info-row">
          <div class="info-item">
            <div class="info-text">
              <span class="info-value"><ion-icon name="location-outline" color="primary"></ion-icon>{{activity?.location}}</span>
            </div>
            <div class="info-text">
              <span class="info-value"><ion-icon name="pricetag-outline" color="success"></ion-icon>{{activity?.price}}</span>
            </div>
          </div>
        </div>
      </ion-card-content>
      <ion-card-header>
        <ion-card-title>{{'ACTIVIDADES.DESCIPCION' | translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="description-text">{{activity?.description}}</p>
      </ion-card-content>
    </ion-card>
   
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button (click)="shareActivity()">
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>