<ion-header>
    <ion-toolbar>
      <ion-title>Tomar foto</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="cancel()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="camera-content">
    <div class="camera-container">
      <video 
        #cameraVideo 
        autoplay 
        playsinline 
        muted
        class="camera-video">
      </video>
      
      <div class="camera-controls">
        <ion-button 
          (click)="capturePhoto()" 
          size="large" 
          color="primary"
          class="capture-button">
          <ion-icon name="camera" slot="start"></ion-icon>
          Capturar
        </ion-button>
      </div>
    </div>
  </ion-content>