/* Estilos para los botones de imagen */
div.user-picture{
  min-width:300px;
  height:300px;
  position: relative;
  
  ion-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  
  ion-button.picture-button{
    margin:0;
    --padding-start:0;
    --padding-end:0;
    --border-radius: 50%;
    width: 40px;
    height: 40px;
    
    .button-native{
      padding:0!important;
      border-radius: 50%;
    }
  }
}

ion-modal.auto-height{
  &.bottom {
    align-items: flex-end;
  }

  --height: auto;

  .ion-page {
    position: relative;
    display: block;
    contain: content;

    .inner-content {
      max-height: 80vh;
      overflow: auto;
      padding: 10px;
    }
  }
}

.change-picture-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  --background: rgba(var(--ion-color-primary-rgb), 0.8);
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  --ripple-color: rgba(255, 255, 255, 0.4);
  transition: transform 0.2s ease;
  
  &:hover {
    transform: scale(1.1);
  }
}

.delete-picture-btn {
  position: absolute;
  top: 60px;
  right: 10px;
  --background: rgba(var(--ion-color-danger-rgb), 0.8);
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  --ripple-color: rgba(255, 255, 255, 0.4);
  transition: transform 0.2s ease;
  
  &:hover {
    transform: scale(1.1);
  }
}

.empty-picture-btn {
  height: 100%;
  width: 100%;
  --border-radius: 8px;
}

.empty-picture-icon {
  width: 100%;
  height: 100%;
}